@font-face {
  font-family: 'zabras';
  src: url('./fonts/zabars.ttf');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  background-image: url('./img/body-bg.png');
  font-family: 'Love Ya Like A Sister', cursive;
  color: #171414;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
  letter-spacing: 5px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}

canvas {
  height: 480px;
  width: 720px;
  /* background-color: black; */
}

.gameImg {
  height: 480px;
  width: 720px;
  object-fit: contain;
}

button {
  margin-top: 5px;
  margin-bottom: 35px;
  padding: 10px 25px;
  background-color: #424242;
  color: bisque;
  font-weight: bold;
  border: 1px solid bisque;
  border-radius: 5px;

  cursor: pointer;
}

.startGameBtn {
  width: max-content;
  padding: 10px 25px;
  margin-top: -40px;
}

.gameStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.instBoard {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.instBoard > span {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.instIcon {
  width: 40px;
  height: 40px;
  margin-left: 6px;
}
/***** Mobile Styling *****/
@media (max-width: 720px) {
  body {
    overflow-x: hidden;
  }

  canvas {
    width: 100%;
    height: auto;
  }

  .gameStart img {
    width: 100%;
    height: auto;
  }
}

/***** Mobile Styling *****/
@media (max-height: 480px) {
  body {
    height: 100vh;
    margin: 0;
  }

  canvas {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
  }

  .gameStart img {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
  }
}

.mobilePanels {
  margin-top: -20px;
  min-width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.panel-holder {
  display: flex;
}

.panel-holder button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobilePanels button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
}

.mobile-btn img {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  margin-top: 20px;
}

#gameArea {
  position: relative;
}

.mobilePanels {
  position: absolute;
  bottom: 65px;
}

.instructions {
  display: flex;
  justify-content: center;
}

.instructions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instructions ul li {
  font-size: 30px;
  letter-spacing: 5;
  margin-bottom: 4px;
}
