@font-face {
  font-family: 'zabras';
  src: url('./fonts/zabars.ttf');
}

.d-none {
  display: none !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  background-image: url('./img/body-bg.png');
  font-family: 'Love Ya Like A Sister', cursive;
  color: #171414;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5rem;
  letter-spacing: 5px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
}

#gameArea {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

canvas {
  height: 480px;
  width: 720px;
}

.gameImg {
  height: 480px;
  width: 720px;
  object-fit: contain;
}

button {
  padding: 5px 20px;
  background-color: #424242;
  color: bisque;
  font-weight: bold;
  border: 1px solid bisque;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -1px;
}

.startGameBtn {
  width: max-content;
  padding: 10px 25px;
  margin-top: -40px;
}

.gameStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
}

.instBoard {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.instBoard > span {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.instIcon {
  width: 40px;
  height: 40px;
  margin-left: 6px;
}
/***** Mobile Styling *****/
@media (max-width: 720px) {
  .turn-device-info {
    display: block !important;
    z-index: 3;
    position: absolute;
    top: 38.5%;
    left: 50%;
    transform: translate(-38.5%, -50%);
    background-color: #424242;
    border-radius: 5px;
    padding: 0.3em;
    font-size: 1.5em;
    color: bisque;
    letter-spacing: 2px;
    animation: fadeIn 3s infinite ease-in-out;
    text-transform: uppercase;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.9;
    }

    100% {
      opacity: 1;
    }
  }

  h1 {
    display: none;
  }

  canvas {
    width: 100%;
  }

  .gameStart img {
    width: 100%;
  }

  h1 {
    display: none;
  }

  #gameArea {
    position: relative !important;
  }

  .startGameBtn {
    position: absolute;
    bottom: 12.5rem;
    right: -3rem;
  }

  .panel-holder {
    display: flex !important;
    gap: 5%;
  }

  #fullScreenBtn {
    display: none !important;
  }
}

@media (min-width: 300px) and (max-width: 720px) {
  .gameStart {
    width: 100%;
    height: 100%;
  }
  #gameArea {
    position: relative !important;
  }

  .startGameBtn {
    position: absolute;
    bottom: -18%;
    right: 25%;
  }

  .mobilePanels {
    position: absolute !important;
    bottom: 20px !important;
  }

  button {
    margin-top: -3px !important;
  }
}

/***** Mobile Styling *****/
@media (max-height: 480px) {
  body {
    height: 100vh;
    margin: 0;
  }

  canvas {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
  }

  .gameStart img {
    width: auto;
    height: 100vh;
  }
}

@media (max-width: 850px) {
  h1,
  #fullScreenBtn img {
    display: none;
  }

  #panelHolder1,
  #panelHolder2 {
    display: flex !important;
  }
}

@media (orientation: landscape) {
  .turn-device-info {
    display: none !important;
  }
}

.mobilePanels {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  position: absolute;
  bottom: 1%;
}

.panel-holder button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobilePanels button {
  width: 15px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
}

.mobile-btn img {
  width: 15px;
  height: 15px;
}

#muteButton,
#audiosButton {
  margin-left: 20px;
  margin-right: 20px;
}

#muteButton img,
#audiosButton img {
  width: 25px;
  height: 25px;
}

.instructions {
  display: flex;
  justify-content: center;
}

.instructions ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.instructions ul li {
  font-size: 30px;
  letter-spacing: 5;
  margin-bottom: 4px;
}

#buttons {
  position: absolute;
  top: 25%;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startGameContainer {
  margin-top: -50px;
}

.gameStart {
  width: 100%;
  height: 100%;
}

#fullScreenBtn {
  position: absolute;
  top: -115%;
  left: 190%;
  background-color: transparent;
  border: 0;
}

#fullScreenBtn img {
  width: 30px;
  height: 30px;
}
